body {
  padding: 50px;
  margin 10px;
}

h1 {
  text-align: center;
}

ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #035956;
}

li a {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #2f6e77;
  color: white;
}

.jumbotron {
  background-color: #a4eadc;
  margin-top: 30px;
}

.container {
  text-align: center;
}

li.sub {
  background-color: none;
}

.portfolio {
	border: solid #035956 2px;
	display: inline-block;
  overflow: hidden;
	margin: 18px 0px;
  padding: 20px;
	max-width: 60%;
	box-shadow: 5px 5px 2px #0fc16c;
	border-radius: 10px;
	background-color: #a6edcb;
}

.portfolio:nth-child(2n) {
	float: right;
	clear: left;
	margin-right: 4%;
}

.portfolio:nth-child(2n+1) {
	float: left;
	clear: right;
	margin-left: 4%;
}

h4.portfolio {
  background-color: #174f45;
  color: white;
  margin: 0px 20px 0px 15px;
}

.hearts {
  text-align: center;
}
