body {
  padding: 50px;
  margin 10px;
}

h1 {
  text-align: center;
}

ul.nav {
  list-style-type: none;
  overflow: hidden;
  min-height: 50px;
  background-color: white;
}

li a {
  float: left;
}

li a {
  display: block;
  color: #035956;
  border: 2px solid #6ae8c2;
  text-align: center;
  padding: 30px 30px 10px 30px;
  text-decoration: none;
  margin: 15px;
  border-radius: 5px;
}

li a:hover {
  background-color: #7bfcd5;
  color: #9c89f9;
}

.jumbotron {
  background-color: #a4eadc;
  margin-top: 30px;
}

.container {
  text-align: center;
  background-color: #a6edcb;
}

/*.well {
  background-color: white;
  border: 0px;
  box-shadow: 0px;
}*/



li.sub {
  background-color: none;
}

span {
  font-style: italic;
  font-size: 10px;
  text-align: center;
}

.col1 {
  background-color: #a4eaee;
}

.col2 {
  background-color: #a4eaee;
}

.col3 {
  background-color: #a4eaee;
}

img.row {
  border-radius: 3px;
  border: 2px solid darkgrey;
  margin: 20px 10px;
}
.row1 {
  margin: 0px;
  padding: 0px;
}

ul.nodot {
  background-color: #a6edcb;
  list-style-type: none;
}

.portfolio {
	border: solid #035956 2px;
	display: inline-block;
  overflow: hidden;
	margin: 20px 0px;
  padding: 20px;
	max-width: 60%;
	box-shadow: 5px 5px 2px #0fc16c;
	border-radius: 7px;
	background-color: #a6edcb;
}

.portfolio:nth-child(2n) {
	float: right;
	clear: left;
	margin-right: 4%;
}

.portfolio:nth-child(2n+1) {
	float: left;
	clear: right;
	margin-left: 4%;
}

h4.portfolio {
  background-color: #174f45;
  color: white;
  margin: 0px 20px 0px 15px;
}

.thumbnail img {
	float: right;
	height: 150px;
	display: inline-block;
	border: solid darkgray 1px;
	box-shadow: 10px 10px 5px grey;
	position: relative;
}

.hearts {
  text-align: center;
}
